body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.text {
    position: absolute;
    z-index: 99;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.text:after {
    color: rgba(0,0,0,0.5);
    font-size: 260px;
    font-family: arial;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
}

#text1 {
    width: 5000px;
    top: 100px;
    animation-name: scroll1;
    position: relative;
}
#text1:after {
    content: "La guerra non si può umanizzare";
}
#text1:after {
    /*
    background: url(../warImages/1.png) repeat, url(../warImages/2.png) repeat, url(../warImages/3.png) repeat, url(../warImages/4.png) repeat, url(../warImages/5.png) repeat, url(../warImages/6.png) repeat, url(../warImages/7.png) repeat, url(../warImages/8.png) repeat, url(../warImages/9.png) repeat, url(../warImages/10.png),
    url(../warImages/11.png) repeat, url(../warImages/12.png) repeat, url(../warImages/13.png) repeat, url(../warImages/14.png) repeat, url(../warImages/15.png) repeat, url(../warImages/16.png) repeat, url(../warImages/17.png) repeat, url(../warImages/18.png) repeat, url(../warImages/19.png) repeat, url(../warImages/20.png),
    url(../warImages/21.png) repeat, url(../warImages/22.png) repeat, url(../warImages/23.png) repeat, url(../warImages/24.png) repeat, url(../warImages/25.png) repeat, url(../warImages/26.png) repeat, url(../warImages/27.png) repeat, url(../warImages/28.png) repeat, url(../warImages/29.png) repeat, url(../warImages/30.png),
    url(../warImages/31.png) repeat, url(../warImages/32.png) repeat, url(../warImages/33.png) repeat, url(../warImages/34.png) repeat, url(../warImages/35.png) repeat, url(../warImages/36.png) repeat, url(../warImages/37.png) repeat, url(../warImages/38.png) repeat, url(../warImages/39.png) repeat, url(../warImages/40.png),
    url(../warImages/41.png) repeat, url(../warImages/42.png) repeat, url(../warImages/43.png) repeat, url(../warImages/44.png) repeat, url(../warImages/45.png) repeat, url(../warImages/46.png) repeat, url(../warImages/47.png) repeat, url(../warImages/48.png) repeat, url(../warImages/49.png) repeat, url(../warImages/50.png),
    url(../warImages/51.png) repeat, url(../warImages/52.png) repeat, url(../warImages/53.png) repeat, url(../warImages/54.png) repeat, url(../warImages/55.png) repeat, url(../warImages/56.png) repeat, url(../warImages/57.png) repeat, url(../warImages/58.png) repeat, url(../warImages/59.png) repeat, url(../warImages/60.png),
    url(../warImages/61.png) repeat, url(../warImages/62.png) repeat, url(../warImages/63.png) repeat, url(../warImages/64.png) repeat, url(../warImages/65.png) repeat, url(../warImages/66.png) repeat, url(../warImages/67.png) repeat, url(../warImages/68.png) repeat, url(../warImages/69.png) repeat, url(../warImages/70.png),
    url(../warImages/71.png) repeat, url(../warImages/72.png) repeat, url(../warImages/73.png) repeat, url(../warImages/74.png) repeat, url(../warImages/75.png) repeat, url(../warImages/76.png) repeat, url(../warImages/77.png) repeat, url(../warImages/78.png) repeat, url(../warImages/79.png) repeat, url(../warImages/80.png),
    url(../warImages/81.png) repeat, url(../warImages/82.png) repeat, url(../warImages/83.png) repeat, url(../warImages/84.png) repeat, url(../warImages/85.png) repeat, url(../warImages/86.png) repeat, url(../warImages/87.png) repeat, url(../warImages/88.png) repeat, url(../warImages/89.png) repeat, url(../warImages/90.png),
    url(../warImages/91.png) repeat, url(../warImages/92.png) repeat, url(../warImages/93.png) repeat, url(../warImages/94.png) repeat, url(../warImages/95.png) repeat, url(../warImages/96.png) repeat, url(../warImages/97.png) repeat, url(../warImages/98.png) repeat, url(../warImages/99.png) repeat, url(../warImages/100.png);
    */
    background-image: url(../images/logo-emergency.png);
    background-repeat: repeat;
    background-position: center center; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

#text2 {
    width: 3000px;
    bottom: 100px;
    animation-name: scroll2;
}
#text2:after {
    content: "si può solo abolire";
    background-image: url(../images/logo-emergency.png);
    background-repeat: repeat;
    background-position: center center; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

@keyframes scroll1 {
    0% {
        right: -1500px;
    }
    60% {
        right: 5000px;
    }
    100% {
        right: 5000px;
    }
}
@keyframes scroll2 {
    0% {
        right: -3000px;
    }
    50% {
        right: -3000px;
    }
    100% {
        right: 3000px;
    }
}

/* 338 1816287 */

#imageWrapper {
    width: 2560px;
    height: 1440px;
    background-color: rgba(0,0,0,0.5)000;
    position: absolute;
    z-index: 1;
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

@keyframes rotate {
    from {
        top: 0;
        left: 0;
    }

    25% {
        top: -75%;
        left: 0;
    }

    50% {
        top: -75%;
        left: -75%;
    }

    75% {
        top:0;
        left: -75%;
    }

    to {
        top: 0;
        left: 0;
    }
}

.imgItem {
    float: left;
    margin: 1px;
    padding: 0;
    width: calc( 10% - 2px );
    height: calc( 10% - 2px );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.imgItem:nth-child(1) {
    background: url(../warImages/01.png) no-repeat center center scroll; 
}
.imgItem:nth-child(2) {
    background: url(../warImages/02.png) no-repeat center center scroll; 
}
.imgItem:nth-child(3) {
    background: url(../warImages/03.png) no-repeat center center scroll; 
}
.imgItem:nth-child(4) {
    background: url(../warImages/04.png) no-repeat center center scroll; 
}
.imgItem:nth-child(5) {
    background: url(../warImages/05.png) no-repeat center center scroll; 
}
.imgItem:nth-child(6) {
    background: url(../warImages/06.png) no-repeat center center scroll; 
}
.imgItem:nth-child(7) {
    background: url(../warImages/07.png) no-repeat center center scroll; 
}
.imgItem:nth-child(8) {
    background: url(../warImages/08.png) no-repeat center center scroll; 
}
.imgItem:nth-child(9) {
    background: url(../warImages/09.png) no-repeat center center scroll; 
}
.imgItem:nth-child(10) {
    background: url(../warImages/10.png) no-repeat center center scroll; 
}

.imgItem:nth-child(11) {
    background: url(../warImages/11.png) no-repeat center center scroll; 
}
.imgItem:nth-child(12) {
    background: url(../warImages/12.png) no-repeat center center scroll; 
}
.imgItem:nth-child(13) {
    background: url(../warImages/13.png) no-repeat center center scroll; 
}
.imgItem:nth-child(14) {
    background: url(../warImages/14.png) no-repeat center center scroll; 
}
.imgItem:nth-child(15) {
    background: url(../warImages/15.png) no-repeat center center scroll; 
}
.imgItem:nth-child(16) {
    background: url(../warImages/16.png) no-repeat center center scroll; 
}
.imgItem:nth-child(17) {
    background: url(../warImages/17.png) no-repeat center center scroll; 
}
.imgItem:nth-child(18) {
    background: url(../warImages/18.png) no-repeat center center scroll; 
}
.imgItem:nth-child(19) {
    background: url(../warImages/19.png) no-repeat center center scroll; 
}
.imgItem:nth-child(20) {
    background: url(../warImages/20.png) no-repeat center center scroll; 
}

.imgItem:nth-child(21) {
    background: url(../warImages/21.png) no-repeat center center scroll; 
}
.imgItem:nth-child(22) {
    background: url(../warImages/22.png) no-repeat center center scroll; 
}
.imgItem:nth-child(23) {
    background: url(../warImages/23.png) no-repeat center center scroll; 
}
.imgItem:nth-child(24) {
    background: url(../warImages/24.png) no-repeat center center scroll; 
}
.imgItem:nth-child(25) {
    background: url(../warImages/25.png) no-repeat center center scroll; 
}
.imgItem:nth-child(26) {
    background: url(../warImages/26.png) no-repeat center center scroll; 
}
.imgItem:nth-child(27) {
    background: url(../warImages/27.png) no-repeat center center scroll; 
}
.imgItem:nth-child(28) {
    background: url(../warImages/28.png) no-repeat center center scroll; 
}
.imgItem:nth-child(29) {
    background: url(../warImages/29.png) no-repeat center center scroll; 
}
.imgItem:nth-child(30) {
    background: url(../warImages/30.png) no-repeat center center scroll; 
}

.imgItem:nth-child(31) {
    background: url(../warImages/31.png) no-repeat center center scroll; 
}
.imgItem:nth-child(32) {
    background: url(../warImages/32.png) no-repeat center center scroll; 
}
.imgItem:nth-child(33) {
    background: url(../warImages/33.png) no-repeat center center scroll; 
}
.imgItem:nth-child(34) {
    background: url(../warImages/34.png) no-repeat center center scroll; 
}
.imgItem:nth-child(35) {
    background: url(../warImages/35.png) no-repeat center center scroll; 
}
.imgItem:nth-child(36) {
    background: url(../warImages/36.png) no-repeat center center scroll; 
}
.imgItem:nth-child(37) {
    background: url(../warImages/37.png) no-repeat center center scroll; 
}
.imgItem:nth-child(38) {
    background: url(../warImages/38.png) no-repeat center center scroll; 
}
.imgItem:nth-child(39) {
    background: url(../warImages/39.png) no-repeat center center scroll; 
}
.imgItem:nth-child(40) {
    background: url(../warImages/40.png) no-repeat center center scroll; 
}

.imgItem:nth-child(41) {
    background: url(../warImages/41.png) no-repeat center center scroll; 
}
.imgItem:nth-child(42) {
    background: url(../warImages/42.png) no-repeat center center scroll; 
}
.imgItem:nth-child(43) {
    background: url(../warImages/43.png) no-repeat center center scroll; 
}
.imgItem:nth-child(44) {
    background: url(../warImages/44.png) no-repeat center center scroll; 
}
.imgItem:nth-child(45) {
    background: url(../warImages/45.png) no-repeat center center scroll; 
}
.imgItem:nth-child(46) {
    background: url(../warImages/46.png) no-repeat center center scroll; 
}
.imgItem:nth-child(47) {
    background: url(../warImages/47.png) no-repeat center center scroll; 
}
.imgItem:nth-child(48) {
    background: url(../warImages/48.png) no-repeat center center scroll; 
}
.imgItem:nth-child(49) {
    background: url(../warImages/49.png) no-repeat center center scroll; 
}
.imgItem:nth-child(50) {
    background: url(../warImages/50.png) no-repeat center center scroll; 
}

.imgItem:nth-child(51) {
    background: url(../warImages/51.png) no-repeat center center scroll; 
}
.imgItem:nth-child(52) {
    background: url(../warImages/52.png) no-repeat center center scroll; 
}
.imgItem:nth-child(53) {
    background: url(../warImages/53.png) no-repeat center center scroll; 
}
.imgItem:nth-child(54) {
    background: url(../warImages/54.png) no-repeat center center scroll; 
}
.imgItem:nth-child(55) {
    background: url(../warImages/55.png) no-repeat center center scroll; 
}
.imgItem:nth-child(56) {
    background: url(../warImages/56.png) no-repeat center center scroll; 
}
.imgItem:nth-child(57) {
    background: url(../warImages/57.png) no-repeat center center scroll; 
}
.imgItem:nth-child(58) {
    background: url(../warImages/58.png) no-repeat center center scroll; 
}
.imgItem:nth-child(59) {
    background: url(../warImages/59.png) no-repeat center center scroll; 
}
.imgItem:nth-child(60) {
    background: url(../warImages/60.png) no-repeat center center scroll; 
}

.imgItem:nth-child(61) {
    background: url(../warImages/61.png) no-repeat center center scroll; 
}
.imgItem:nth-child(62) {
    background: url(../warImages/62.png) no-repeat center center scroll; 
}
.imgItem:nth-child(63) {
    background: url(../warImages/63.png) no-repeat center center scroll; 
}
.imgItem:nth-child(64) {
    background: url(../warImages/64.png) no-repeat center center scroll; 
}
.imgItem:nth-child(65) {
    background: url(../warImages/65.png) no-repeat center center scroll; 
}
.imgItem:nth-child(66) {
    background: url(../warImages/66.png) no-repeat center center scroll; 
}
.imgItem:nth-child(67) {
    background: url(../warImages/67.png) no-repeat center center scroll; 
}
.imgItem:nth-child(68) {
    background: url(../warImages/68.png) no-repeat center center scroll; 
}
.imgItem:nth-child(69) {
    background: url(../warImages/69.png) no-repeat center center scroll; 
}
.imgItem:nth-child(70) {
    background: url(../warImages/70.png) no-repeat center center scroll; 
}

.imgItem:nth-child(71) {
    background: url(../warImages/71.png) no-repeat center center scroll; 
}
.imgItem:nth-child(72) {
    background: url(../warImages/72.png) no-repeat center center scroll; 
}
.imgItem:nth-child(73) {
    background: url(../warImages/73.png) no-repeat center center scroll; 
}
.imgItem:nth-child(74) {
    background: url(../warImages/74.png) no-repeat center center scroll; 
}
.imgItem:nth-child(75) {
    background: url(../warImages/75.png) no-repeat center center scroll; 
}
.imgItem:nth-child(76) {
    background: url(../warImages/76.png) no-repeat center center scroll; 
}
.imgItem:nth-child(77) {
    background: url(../warImages/77.png) no-repeat center center scroll; 
}
.imgItem:nth-child(78) {
    background: url(../warImages/78.png) no-repeat center center scroll; 
}
.imgItem:nth-child(79) {
    background: url(../warImages/79.png) no-repeat center center scroll; 
}
.imgItem:nth-child(80) {
    background: url(../warImages/80.png) no-repeat center center scroll; 
}

.imgItem:nth-child(81) {
    background: url(../warImages/81.png) no-repeat center center scroll; 
}
.imgItem:nth-child(82) {
    background: url(../warImages/82.png) no-repeat center center scroll; 
}
.imgItem:nth-child(83) {
    background: url(../warImages/83.png) no-repeat center center scroll; 
}
.imgItem:nth-child(84) {
    background: url(../warImages/84.png) no-repeat center center scroll; 
}
.imgItem:nth-child(85) {
    background: url(../warImages/85.png) no-repeat center center scroll; 
}
.imgItem:nth-child(86) {
    background: url(../warImages/86.png) no-repeat center center scroll; 
}
.imgItem:nth-child(87) {
    background: url(../warImages/87.png) no-repeat center center scroll; 
}
.imgItem:nth-child(88) {
    background: url(../warImages/88.png) no-repeat center center scroll; 
}
.imgItem:nth-child(89) {
    background: url(../warImages/89.png) no-repeat center center scroll; 
}
.imgItem:nth-child(90) {
    background: url(../warImages/90.png) no-repeat center center scroll; 
}

.imgItem:nth-child(91) {
    background: url(../warImages/91.png) no-repeat center center scroll; 
}
.imgItem:nth-child(92) {
    background: url(../warImages/92.png) no-repeat center center scroll; 
}
.imgItem:nth-child(93) {
    background: url(../warImages/93.png) no-repeat center center scroll; 
}
.imgItem:nth-child(94) {
    background: url(../warImages/94.png) no-repeat center center scroll; 
}
.imgItem:nth-child(95) {
    background: url(../warImages/95.png) no-repeat center center scroll; 
}
.imgItem:nth-child(96) {
    background: url(../warImages/96.png) no-repeat center center scroll; 
}
.imgItem:nth-child(97) {
    background: url(../warImages/97.png) no-repeat center center scroll; 
}
.imgItem:nth-child(98) {
    background: url(../warImages/98.png) no-repeat center center scroll; 
}
.imgItem:nth-child(99) {
    background: url(../warImages/99.png) no-repeat center center scroll; 
}
.imgItem:nth-child(100) {
    background: url(../warImages/100.png) no-repeat center center scroll; 
}